# IDE's stuff
.idea/

# NPM
node_modules
package-lock.json

# Webpack build stuff
/client/dist/bundle.js
/client/dist/bundle.js.LICENSE.txt
/client/dist/tests/

# disregard js config
/client/src/config.js