
@media only screen and (max-width: 600px) {
    form {
        width: 80vw;
        min-width: initial;
    }
}
.flexy {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.centery {
    text-align: center;
}

.flexy-child-grow {
    flex-grow: 1;
}
.flexy-child-nogrow {
    flex-grow: 0;
}

div.app {
    border: 1px solid black;
}

div.app h1, div.app h2, div.app h3, div.app h4, div.app h5, div.app h6 {
    margin: 5px 0;
}

nav.header a {
    /*use to be EventWrapper and CamperWrapper*/
    height: 30px;
    text-align: center;
    font-size: 25px;
    color: #bd394b;
    margin: 0 5px;
    padding: 1px;
}
nav.header a:hover {
    color: #bd39ff;
}
nav.header a.current {
    color: #bd704b;
    text-decoration: none;
    cursor: default;
}

nav.header {
    display: flex;
    flex-direction: column;
    margin: 1px;
    /*  border: solid 1 px black; */
    padding: 1px;
}

nav.header .header-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border-bottom: solid 5px #bd394b;
    border-radius: 10px;
    padding: 1px;
}

nav.header .header-bottom {
    display: flex;
    justify-content: center;
    margin: 1px;
    /*  border: solid 1 px black; */
    padding: 1px;
}

.event {
    margin-left: 10px;
}

.event .sessions {
    margin-left: 10px;
}

button.yes, button.no {
    background-color: #cccccc;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}
button.yes {
    border-right: none;
    border-radius: 5px 0 0 5px;
}
button.yes:hover, button.yes.selected {
    background-color: #01a252;
}
button.no {
    border-left: none;
    border-radius: 0 5px 5px 0;
}
button.no:hover, button.no.selected  {
    background-color: #f78c6c;
}

form .error {
    color: red;
}